PYTHONUNBUFFERED=1
SPECULA_ENV=prod
SPECULA_DEBUG=false
SPECULA_LOG_LEVEL=INFO

WAZUH_BASE_URL=https://wazuh.manager:55000
WAZUH_USERNAME=wazuh-wui
WAZUH_PASSWORD=change_me

WAZUH_INDEXER_URL=https://wazuh.indexer:9200
WAZUH_INDEXER_USERNAME=admin
WAZUH_INDEXER_PASSWORD=change_me

WAZUH_VERIFY_TLS=true
WAZUH_TIMEOUT=10
WAZUH_DEFAULT_LIMIT=50

# Set this to your physical network interface (example: eth0, enp3s0, wlp2s0)
SURICATA_INTERFACE=eth0
TZ=Europe/Paris