PYTHONUNBUFFERED=1
SPECULA_ENV=prod
SPECULA_DEBUG=false
SPECULA_LOG_LEVEL=INFO

WAZUH_BASE_URL=https://host.docker.internal:55000
WAZUH_USERNAME=wazuh-wui
WAZUH_PASSWORD=change_me

WAZUH_INDEXER_URL=https://host.docker.internal:9200
WAZUH_INDEXER_USERNAME=admin
WAZUH_INDEXER_PASSWORD=change_me

WAZUH_VERIFY_TLS=true
WAZUH_TIMEOUT=10
WAZUH_DEFAULT_LIMIT=50