#################################
# ENV / SECRETS
#################################
.env
.env.local
.env.*
!.env.example

deploy/*/.env

*.key
*.crt
*.pem
*.p12
*.pfx

#################################
# LOGS
#################################
*.log
logs/
*.pid

#################################
# PYTHON
#################################
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
.venv/
venv/
env/

#################################
# NODE / FRONTEND
#################################
node_modules/
dist/
build/
.next/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#################################
# DOCKER / DATA
#################################
docker-data/
volumes/
data/

#################################
# IDE
#################################
.vscode/
.idea/

#################################
# OS
#################################
.DS_Store
Thumbs.db

#################################
# TESTS / COVERAGE
#################################
coverage/
htmlcov/
.cache/

#################################
# TEMP FILES
#################################
tmp/
temp/
*.tmp
*.swp


runtime/

deploy/master/suricata/deploy/master/suricata/
