#################################
# ENV / SECRETS
#################################

.env
.env.*
!.env.example
.env
deploy/*/.env
*.key
*.crt
*.pem
*.p12
*.pfx
.env.local

#################################
# LOGS
#################################

*.log
logs/
*.pid

#################################
# PYTHON
#################################

__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
.venv/
venv/
env/

#################################
# NODE / FRONTEND
#################################

node_modules/
dist/
build/
.next/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#################################
# DOCKER
#################################

docker-data/
volumes/
data/

#################################
# IDE
#################################

.vscode/
.idea/

#################################
# OS
#################################

.DS_Store
Thumbs.db

#################################
# TESTS
#################################

coverage/
htmlcov/
.cache/

#################################
# TEMP FILES
#################################

tmp/
temp/
*.tmp
*.swp